<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" th:href="@{/style.css}" />
</head>
<body>


<!-- !PAGE CONTENT! -->
<div class="container">
    <div class="login-wrapper">
        <div class="header">Bank Account</div>
        <div class="form-wrapper" style="text-align:center;vertical-align:middle;">
            <h3 class="welcome" text-align="center" th:text="${username} +', Welcome!' "/>
            <h3 class="sign" text-align="center" th:text="'Your Balance: $ ' + ${balance}"/>
            <form class="form1" method="get" action="#" th:action="@{getInfo}">
                <input class="input-item" text-align="center" type="hidden" name="id" th:value="${id}">
                <input type="submit" class="btn" text-align="right" name="Refresh" value="Refresh Balance">
            </form>
            <form class="form1" method="POST" action="#" th:action="@{transaction}">
                <input class="input-item" text-align="center" type="hidden" name="id" th:value="${id}">
                <input class="input-item" text-align="center" name="amount" placeholder="Amount: xxx.xx">
                <input type="submit" class="btn" text-align="left" name="withdraw" value="Withdraw">
                <input type="submit" class="btn" text-align="right" name="deposit" value="Deposit">
            </form>
            <p th:text="${message}"></p>

        </div>
        <div class="msg">
            <p class="signup" text-align="center"><a href="/bank/logout"> Logout </a></p>
        </div>
    </div>
<div>

</body>
</html>

