<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Bank 266</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" th:href="@{/style.css}" />
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <!--    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">-->

</head>
<body>
<div class="main">
    <h2 class="welcome" text-align="center" th:text="'Welcome to Bank 266, ' + ${username}" />
    <p class="sign" text-align="center" th:text="'Balance: $ ' + ${balance}" />
    <p class="sign" text-align="center" th:if="${warning!=null}" th:utext="${warning}"/>
    <form class="form1" method="Post" action="#" th:action="@{transaction/account}">
        <input class="id" text-align="center" type="hidden" name="id" th:value="${id}" >
        <input class="amount" text-align="center" name="amount" placeholder="Amount: " >
        <input type="submit" class="withdraw" text-align="left" name="withdraw" value="Withdraw">
        <input type="submit" class="deposit" text-align="right" name="deposit" value="Deposit">
        <p class="signup" text-align="center"><a href="/bank/logout"> Logout </a></p>
    </form>
</div>


</body>
</html>